	<div ng-controller="mainCtrl" ng-init="init()" class="main {{pageClass}}">
		<!--<div class="panel panel-primary" >
			<div class="panel-heading" style="background-color:#6fa4ec;border:none">
				<div class="panel-title" style="background-color:#6fa4ec">表单测试 浮动透明</div>
			</div>
		</div>-->
		<!--标题-->
		<div class="panel panel-primary" id="nanwang" scrollslide  ng-hide="nanwanghide">
			<a class="title" ng-click="hide('nanwang')" >nanwang</a>
			<div class="enter-right">
				<img class="main-img" src="" alt="lorem ipsum">
				<p class="main-word">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				

				<div class="turn">
					<a href="" ng-click="lastpage('nanwanghide')"><span>&larr上一页</span></a>

					<a href="" ng-click="nextpage('nanwanghide')"><span>下一页&rarr</span></a>
				</div>
			</div>
			
		</div>

		<div class="panel panel-primary" id="donglin" scrollslide  ng-hide="donglinhide" >
			<a class="title" ng-click="hide('donglin')">donglin</a>

			<div class="enter-right">
				<img class="main-img" src="" alt="lorem ipsum">
				<p class="main-word">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				
				<div class="turn">
					<a href="" ng-click="lastpage('donglinhide')"><span>&larr上一页</span></a>

					<a href="" ng-click="nextpage('donglinhide')"><span>下一页&rarr</span></a>
				</div>
			</div>
			

		</div>


		<div class="panel panel-primary" id="gold" scrollslide ng-hide="goldhide">
			<a class="title" ng-click="hide('gold')">gold</a>
			<div class="enter-right" ng-hide="goldhide">
				<img class="main-img" src="" alt="lorem ipsum">
				<p class="main-word">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				
				<div class="turn">
					<a href="" ng-click="lastpage('goldhide')"><span>&larr上一页</span></a>

					<a href="" ng-click="nextpage('goldhide')"><span>下一页&rarr</span></a>
				</div>
			</div>

		</div>


		<div class="panel panel-primary" id="pointstone" scrollslide ng-hide="pointstonehide">
			<a class="title" ng-click="hide('pointstone')">pointstone</a>
			<div class="enter-right" ng-hide="pointstonehide">
				<img class="main-img" src="" alt="lorem ipsum">
				<p class="main-word">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				
				<div class="turn">
					<a href="" ng-click="lastpage('pointstonehide')"><span>&larr上一页</span></a>

					<a href="" ng-click="nextpage('pointstonehide')"><span>下一页&rarr</span></a>
				</div>
			</div>

		</div>
		

	</div>