/*reset*/
		body,h1,h2,h3,h4,h5,h6,p,ol,ul{
		    margin: 0;
		}
		ol,ul{
		    padding: 0;
		}
		ol,ul{
		    list-style: none;
		}
		a{
		    text-decoration: none;
		}
		em{
		    font-style:normal;
		}
		img{
			height: 140px;
		}
		
		/*改写滚动条为全部透明*/
		::-webkit-scrollbar /*整体部分*/ { width: 0; height: 0; }
		::-webkit-scrollbar-track /*滑动轨道*/ { background: rgba(0,0,0,0); }
		::-webkit-scrollbar-thumb /*滑块*/ { background: rgba(0,0,0,0.0); }
		::-webkit-scrollbar-thumb:hover /*滑块效果*/ { background: rgba(0,0,0,0); }


		/*动画*/
		@keyframes moveleft{
			from{
				transform:translateX(100%);
			}
			
		}

		@keyframes moveright{
			from{
				transform:translateX(-100%);
			}
			
		}
		@keyframes movetop
		{
			from{
				transform:translateY(600px);
			}
			to{
				transform:translateY(0);
			}
		}
		

		@keyframes rotateFall {
		    0% {
		        transform: rotateZ(0deg);
		    }
		    20% {
		        transform: rotateZ(10deg);
		        animation-timing-function: ease-out;
		    }
		    40% {
		        transform: rotateZ(17deg);
		    }
		    60% {
		        transform: rotateZ(16deg);
		    }
		    100% {
		        transform: translateY(100%) rotateZ(17deg);
		    }
		}
		@keyframes slideOutLeft {
			from{
				transform: translateX(0);
			}
		    to {
		        transform: translateX(100%);
		    }
		}
		@keyframes rotateOutNewspaper {
		    to {
		        transform: translateZ(-3000px) rotateZ(360deg);
		        opacity: 0;
		    }
		}
		@keyframes scaleUp {
		    from {
		        opacity: 0.3;
		    }
		}
		@keyframes slideInRight {
		    from {
		        transform:translateX(100%);
		    }
		    to {
		        transform: translateX(0);
		    }
		}
		@keyframes slideInUp {
		    from {
		        transform:translateY(100%);
		    }
		    to {
		        transform: translateY(0);
		    }
		}

		@keyframes slideInDown{
			from{
				transform:translateY(-100%);
			}
			to{
				transform:translateY(0);
			}
		}
		@keyframes slideOutUp{
			from {
				transform:translateY(0);
			}
			to {
				transform:translateY(-100%);
			}
		}
		@keyframes btnslideOutUp{
			from{
				transform:translateY(0);
			}
			to{
				top:10px;
			}
		}
		@keyframes btnslideInDown{
			from{
				top:10px;
			}
			to{
				transform:translateY(0);
			}
		}
		/*样式*/

		body{
			background-color: black;
			color: white !important;
			height: 100vh !important;
		}
		.sidebar-btn{
			position:absolute;
			left:1vw;
			z-index:999;
			bottom:7vh;
			visibility:hidden;
		}
		.content{
			height: 100vh;
			overflow: auto;
			position: absolute;
			z-index: 100;
			right: 0;
			top:0;
			background-image: url("img/content.jpg");
			padding:4vh 4vw 20vh 4vw;
			width: 100%;
		}
		.content-words{
			padding:3vh 4vw;
			width:85%;
			margin:0 auto;
			line-height:2;
		}

		.cover2{
			position: absolute;
			background-color: black;
			bottom: 0px;
			opacity: 0.5;
			margin-right: 0px !important;
			margin-left: 0px !important;
			width: 100vw;
			height: 8vh;
		}
		.cover1{
			position: absolute;
			background-color: black;
			top: 0px;
			opacity: 0.5;
			margin-right: 0px !important;
			margin-left: 0px !important;
			width: 100vw;
			height: 22vh;
		}

		.main-footer{
			position: absolute !important;
			z-index: 100;
			height: 1px;
			bottom: 45vh;
		}
		.col-sm-3,.col-sm-2{
			padding: 20px;
			text-align: center;
		}
		
		.choose-content{
			padding-top:20px;
		}
		
		.btn-right{
			float:right;
			margin-right: -40px !important;
		}
		.btn-left{
			float:left;
			margin-left: -10px !important;
		}
		.choose{
			min-height: 33vh;
		}
		.navbar{
			margin-bottom: 0px !important;
			border-radius: 0 !important;
			position: fixed !important;
			width:100vw;
			top:0;
			left:0;
			z-index: 1000;
		}
		.nanwang{
			background: url("img/cug/bg12.jpg") no-repeat;
			background-size: cover;
			min-height: 100vh !important;
		}
		.donglin{
			background-image: url("img/cug/bg27.jpg");
			background-size: cover;
			min-height: 100vh !important;
		}
		.gold{
			background-image: url("img/cug/bg13.jpg");
			background-size: cover;
			min-height: 100vh !important;
		}
		.pointstone{
			background-image: url("img/cug/bg32.jpg");
			background-size: cover;
			min-height: 100vh !important;
		}
		.panel{
			border-radius: 0 !important;
			position: absolute !important;
			margin-bottom: 0 !important;
			width:100vw;
			height:100vh;
		}
		.panel .title{
			font-size: 25px;
		}

		.panel a{
			color: white !important;
		}

		#homepage{
			background-image:url("img/cug/bg1.jpg"); 
			background-size: cover;
			border:none !important; 
			z-index: 5;
		}
		#nanwang{
			background-image:url("img/cug/bg24.jpg"); 
			background-size: cover;
			border:none !important; 
			z-index: 5;
		}
		#donglin{
			background-image:url("img/cug/bg10.jpg"); 
			background-size: cover;
			border:none !important; 
			z-index:5;
			width: vw;
		}
		#pointstone{
			background-image:url("img/cug/bg23.jpg"); 
			background-size: cover;
			border:none !important; 
			z-index: 5;
			width: vw;
		}
		#gold{
			background-image:url("img/cug/bg15.jpg");
			background-size: cover;
			border:none !important;  
			z-index: 5;
			width: 100vw;
		}
		#cover{
			z-index: 5;
			display: block;
			height: 100vh;
			padding: 5.5vh 0; 
			width: 100vw; 
		}

		.ng-hide{  
			z-index: 10000;
		}
		
		.main-img{
			margin-bottom: 10px;
			margin-top:20px;
		}

		.main-word{
			float:left;
			width: 49%;
			text-align:justify;
			text-justify:newspaper;
			text-justify:inter-ideograph;
			margin-bottom: 10px;
		}
		
		.turn{
			display: block;
			margin-bottom: 10px;
			clear: both;
		}

		.ng-enter {
		    z-index: 8888;
		}
		.ng-leave {
		    z-index: 9999;
		}

		.btn-hide{
			animation-delay:2s;
			animation:btnslideOutUp 3s both ease-in; 
		}
		.btn-show{
			animation:btnslideInDown 1s both ease-in;
		}
		.navbar-hide{
			animation-delay:2s;
			animation:slideOutUp 3s both ease-in;
		}
		.navbar-show{
			animation:slideInDown 1s both ease-in;
		}
		.enter-right{
			animation:moveleft 1.5s both ease-out; 
			z-index: 100;
			overflow: hidden;
		}
		.enter-left{
			animation:moveright 1.5s both ease-out;
		}
		.enter-bottom{
			animation:movetop 0.35s both ease-out;
		}


		.scroll-move{
			animation:movetop 1.5s both ease-out;
		}
		.word-show{
			animation:scaleUp 0.5s both ease-in;
		}

		.main.ng-enter {
		    animation: scaleUp 0.5s both ease-in;
		}
		.main.ng-leave {
		    transform-origin: 0% 0%;
		    animation: slideOutLeft 1s both ease-in;
		}
		.nanwang.ng-enter {
		    animation:slideInRight 0.5s both ease-in;
		}
		.nanwang.ng-leave {
		    animation:slideOutLeft 0.5s both ease-in;
		}
		.donglin.ng-enter {
		    animation:slideInRight 0.5s both ease-in;
		}
		.donglin.ng-leave {
		    animation:slideOutLeft 0.5s both ease-in;
		}
		.gold.ng-enter {
		    animation:slideInRight 0.5s both ease-in;
		}
		.gold.ng-leave {
		    animation:slideOutLeft 0.5s both ease-in;
		}
		.pointstone.ng-enter {
		    animation:slideInRight 0.5s both ease-in;
		}
		.pointstone.ng-leave {
		    animation:slideOutLeft 0.5s both ease-in;
		}



		/*兼容手机*/
		@media screen and (max-width: 600px){
			.list-group{
				position: absolute;
				z-index: 101;
				left:1vw;
				animation:scaleUp 1.5s both ease-in;
			}
			h1{
				font-size:5.5vw !important;
			}
			p{
				font-size: 2.5vw !important;
			}
			.sidebar-btn{
				 visibility: visible;
			}

		}
		
		@media screen and (min-width:600px) and (max-width: 770px) {
			.sidebar-btn{
				 visibility: visible;
			}
			.list-group{
				position: absolute;
				z-index: 101;
				left:1vw;
				animation:scaleUp 1.5s both ease-in;
			}
			
			h1{
				font-size:4.5vw !important;
			}
			.main-word{
				float:left;
				width: 100%;
			}
			.main-img{
				float: right;
				display: inline;
				width: 100%;
				margin-top: 10px;
			}
			.turn{
				display: flex;
				justify-content: space-between;
				clear: both;
			}

		}

