


	<div ng-controller="mainCtrl" ng-init="init()" class="main {{pageClass}}">
		
		<nav class="navbar navbar-inverse {{hideClass}}" role="navigation">
		    <div class="navbar-header">
		        <a class="navbar-brand">地大新生手册</a>
		    </div>
		    <ul class="nav navbar-nav">
		        <li>
		            <a ui-sref="index">首页</a>
		        </li>
		        <li>
		            <a ui-sref="nanwang">南望山下</a>
		        </li>
		        <li>
		            <a ui-sref="donglin">东湖河畔</a>
		        </li>
		        <li>
		            <a ui-sref="gold">点石成金</a>
		        </li>
		        <li>
		            <a ui-sref="pointstone">关于我们</a>
		        </li>
		    </ul>
		</nav>
		<a class="button button-circle button-raised button-primary button-raised button-primary {{btnClass}}" style="position:absolute;right:10px;z-index:999;top:52px;" ng-click="navbar()"><i class="fa {{navbarname}}"></i></a>
		
		<div class="panel panel-primary" id="homepage" scrollslide ng-hide="homepagehide" >
			<div class="enter-right" id="cover">
				<div class="row title">
					<div class="enter-right col-sm-12 col-xs-12">
						<div class="col-sm-6 col-xs-6">
							<h1>中国地质大学新生手册</h1>
							<br>
							<p>Lorem ipsum dolor sit amet</p>
						</div>
					</div>
				</div>
				<div class="row cover1"></div>
				<div class="row cover2"></div>
				<div class="row">
					<div class="col-sm-12 col-xs-12 main-footer">
							<div class="col-sm-6 col-xs-6">
								<a class="button button-large button-plain button-border button-circle btn-left" ng-click="lastpage('homepagehide')"><i class="fa fa-angle-left"></i></a>

							</div>
							<div class="col-sm-6 col-xs-6">
								<a class="btn-right button button-large button-plain button-border button-circle" ng-click="nextpage('homepagehide')"><i class="fa fa-angle-right"></i></a>
							</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-primary" id="nanwang" scrollslide  ng-hide="nanwanghide">
				<div class="enter-right" id="cover">
					<div class="row title">
						<div class="enter-right col-sm-12 col-xs-12">
							<div class="col-sm-6 col-xs-6">
								<h1>南望山下的开始</h1>
								<br>
								<p>Lorem ipsum dolor sit amet</p>
							</div>
						</div>
					</div>
					<div class="row cover1"></div>
					<div class="row cover2"></div>
					<div class="row choose">
						<div class="col-sm-12 col-xs-12 choose-content">
							<div class="col-sm-3 col-xs-3"><a class="button button-glow button-rounded button-primary col-sm-12 col-xs-12" ui-sref="nanwang.school"><i class="fa fa-university"></i>  学校介绍</a></div>
							<div class="col-sm-3 col-xs-3"><a class="button button-glow button-rounded button-highlight col-sm-12 col-xs-12" ui-sref="nanwang.map"><i class="fa fa-map-marker"></i>  地图</a></div>
							<div class="col-sm-3 col-xs-3"><a class="button button-glow button-rounded button-caution col-sm-12 col-xs-12" ui-sref="nanwang.wholeschool"><i class="fa fa-globe"></i>  全景校园</a></div>
							<div class="col-sm-3 col-xs-3"><a class="button button-glow button-rounded button-royal col-sm-12 col-xs-12" ui-sref="nanwang.list"><i class="fa fa-th-list"></i>  必备清单</a></div>
							<div class="col-sm-3 col-xs-3"><a class="button button-glow button-rounded button-action col-sm-12 col-xs-12" ui-sref="nanwang.trans"><i class="fa fa-bus"></i>  乘车交通</a></div>
							<div class="col-sm-3 col-xs-3"><a class="button button-glow button-rounded button-inverse col-sm-12 col-xs-12" ui-sref="nanwang.process"><i class="fa fa-bell "></i>  报道流程</a></div>
							<div class="col-sm-3 col-xs-3"><a class="button button-glow button-rounded button-primary col-sm-12 col-xs-12" style="color:white" ui-sref="nanwang.loan"><i class="fa fa-credit-card"></i>  关于贷款</a></div>

						</div>
						
					</div>
					
					<div class="row">
						<div class="col-sm-12 col-xs-12 main-footer">
								<div class="col-sm-6 col-xs-6">
									<a class="button button-large button-plain button-border button-circle btn-left" ng-click="lastpage('nanwanghide')"><i class="fa fa-angle-left"></i></a>
								</div>
								<div class="col-sm-6 col-xs-6">
									<a class="button button-large button-plain button-border button-circle btn-right" ng-click="nextpage('nanwanghide')"><i class="fa fa-angle-right"></i></a>
								</div>
						</div>
					</div>
				</div>
			
		</div>

		<div class="panel panel-primary" id="donglin" scrollslide  ng-hide="donglinhide" >
				<div class="enter-right" id="cover">
					<div class="row title">
						<div class="enter-right col-sm-12 col-xs-12">
							<div class="col-sm-6 col-xs-6">
								<h1>东湖河畔的生活</h1>
								<br>
								<p>Lorem ipsum dolor sit amet</p>
							</div>
						</div>
					</div>
					<div class="row cover1"></div>
					<div class="row cover2"></div>
					<div class="row choose">
						<div class="col-sm-12 col-xs-12 choose-content">
							<div class="col-sm-2 col-xs-2"><a class="button button-glow button-rounded button-primary col-sm-12 col-xs-12" ui-sref="donglin.army"><i class="fa fa-male"></i>  军训</a></div>
							<div class="col-sm-2 col-xs-2"><a class="button button-glow button-rounded button-highlight col-sm-12 col-xs-12" ui-sref="donglin.dor"><i class="fa fa-home"></i>  宿舍</a></div>
							<div class="col-sm-2 col-xs-2"><a class="button button-glow button-rounded button-caution col-sm-12 col-xs-12" ui-sref="donglin.web"><i class="fa fa-internet-explorer"></i>  网络</a></div>
							<div class="col-sm-2 col-xs-2"><a class="button button-glow button-rounded button-royal col-sm-12 col-xs-12" ui-sref="donglin.food"><i class="fa fa-cutlery"></i>  吃喝</a></div>
							<div class="col-sm-2 col-xs-2"><a class="button button-glow button-rounded button-action col-sm-12 col-xs-12" ui-sref="donglin.entertain"><i class="fa fa-play"></i>  玩乐</a></div>
							<div class="col-sm-2 col-xs-2"><a class="button button-glow button-rounded button-inverse col-sm-12 col-xs-12" ui-sref="donglin.life_trans"><i class="fa fa-bus"></i>  常用交通</a></div>
							<div class="col-sm-2 col-xs-2"><a class="button button-glow button-rounded button-primary col-sm-12 col-xs-12" ui-sref="donglin.party"><i class="fa fa-sign-language"></i>  学校活动</a></div>
							<div class="col-sm-2 col-xs-2"><a class="button button-glow button-rounded button-highlight col-sm-12 col-xs-12" ui-sref="donglin.hobby"><i class="fa fa-users"></i>  兴趣社团</a></div>
							<div class="col-sm-2 col-xs-2"> <a class="button button-glow button-rounded button-royal col-sm-12 col-xs-12" ui-sref="donglin.partime"><i class="fa fa-briefcase"></i>  勤工助学</a></div>
							<div class="col-sm-3 col-xs-3"><a class="button button-glow button-rounded button-action col-sm-12 col-xs-12" ui-sref="donglin.union"><i class="fa fa-user"></i>  学生会与团学联</a></div>

						</div>
						
					</div>
					
					<div class="row">
						<div class="col-sm-12 col-xs-12 main-footer">
								<div class="col-sm-6 col-xs-6">
									<a class="button button-large button-plain button-border button-circle btn-left" ng-click="lastpage('donglinhide')"><i class="fa fa-angle-left"></i></a>
								</div>
								<div class="col-sm-6 col-xs-6">
									<a class="button button-large button-plain button-border button-circle btn-right" ng-click="nextpage('donglinhide')"><i class="fa fa-angle-right"></i></a>
								</div>
						</div>
					</div>
				</div>

		</div>


		<div class="panel panel-primary" id="gold" scrollslide ng-hide="goldhide">
			<div class="enter-right" id="cover">
			<div class="row title">
				<div class="enter-right col-sm-12 col-xs-12">
					<div class="col-sm-6 col-xs-6">
						<h1>点石成金的学习</h1>
						<br>
						<p>Lorem ipsum dolor sit amet</p>
					</div>
					
				</div>
			</div>
			<div class="row cover1"></div>
			<div class="row cover2"></div>
			<div class="row choose">
				<div class="col-sm-12 col-xs-12 choose-content">
					<div class="col-sm-2 col-xs-2"><a class="button button-glow button-rounded button-primary col-sm-12 col-xs-12" ui-sref="gold.build"><i class="fa fa-building"></i>  教学楼</a></div>
					<div class="col-sm-2 col-xs-2"><a class="button button-glow button-rounded button-highlight col-sm-12 col-xs-12" ui-sref="gold.lib"><i class="fa fa-bookmark"></i>  图书馆</a></div>
					<div class="col-sm-2 col-xs-2"><a class="button button-glow button-rounded button-caution col-sm-12 col-xs-12" ui-sref="gold.study"><i class="fa fa-book"></i>  日常学习</a></div>
					<div class="col-sm-2 col-xs-2"><a class="button button-glow button-rounded button-royal col-sm-12 col-xs-12" ui-sref="gold.exam"><i class="fa fa-reorder"></i>  考试</a></div>
					<div class="col-sm-2 col-xs-2"><a class="button button-glow button-rounded button-action col-sm-12 col-xs-12" ui-sref="gold.stu_work"><i class="fa fa-building-o"></i>  学生工作</a></div>
					<div class="col-sm-2 col-xs-2"><a class="button button-glow button-rounded button-inverse col-sm-12 col-xs-12" ui-sref="gold.major_ch"><i class="fa fa-map-pin"></i>  转专业</a></div>
					<div class="col-sm-2 col-xs-2"><a class="button button-glow button-rounded button-primary col-sm-12 col-xs-12" ui-sref="gold.tw_deg"><i class="fa fa-arrows-h"></i>  双学位</a></div>
					<div class="col-sm-2 col-xs-2"><a class="button button-glow button-rounded button-highlight col-sm-12 col-xs-12" ui-sref="gold.rubbage"><i class="fa fa-venus-double"></i>  教务处</a></div>
					<div class="col-sm-2 col-xs-2"><a class="button button-glow button-rounded button-caution col-sm-12 col-xs-12" ui-sref="gold.gradu"><i class="fa fa-graduation-cap"></i>保研与考研</a></div>
					<div class="col-sm-2 col-xs-2"><a class="button button-glow button-rounded button-royal col-sm-12 col-xs-12" ui-sref="gold.foreign"><i class="fa fa-cube"></i>  出国留学</a></div>
					<div class="col-sm-2 col-xs-2"><a class="button button-glow button-rounded button-action col-sm-12 col-xs-12" ui-sref="gold.job"><i class="fa fa-briefcase"></i>  就业与创业</a></div>
				</div>
				


			</div>
			<div class="row">

				<div class="col-sm-12 col-xs-12 main-footer">
					<div class="col-sm-6 col-xs-6">
						<a class="button button-large button-plain button-border button-circle btn-left" ng-click="lastpage('goldhide')"><i class="fa fa-angle-left"></i></a>
					</div>
					<div class="col-sm-6 col-xs-6">
						<a class="button button-large button-plain button-border button-circle btn-right" ng-click="nextpage('goldhide')"><i class="fa fa-angle-right"></i></a>
					</div>

				</div>
			</div>
			</div>

		</div>


		<div class="panel panel-primary" id="pointstone" scrollslide ng-hide="pointstonehide">
			<div class="enter-right" id="cover">
			<div class="row title">
				<div class="enter-right col-sm-12 col-xs-12">
					<div class="col-sm-6 col-xs-6">
						<h1>点石团队&&新媒体中心--强强联合</h1>
						<br>
						<p>Lorem ipsum dolor sit amet</p>
					</div>
					
				</div>
			</div>
			<div class="row cover1"></div>
			<div class="row cover2"></div>
			<div class="row choose">

			</div>
			<div class="row">
				<div class="col-sm-12 col-xs-12 main-footer">
					<div class="col-sm-6 col-xs-6">
						<a class="button button-large button-plain button-border button-circle btn-left" ng-click="lastpage('pointstonehide')"><i class="fa fa-angle-left"></i></a>
					</div>
					<div class="col-sm-6 col-xs-6">
						<a class="button button-large button-plain button-border button-circle btn-right" ng-click="nextpage('pointstonehide')"><i class="fa fa-angle-right"></i></a>
					</div>
				</div>
			</div>
			</div>
		</div>

	</div>